:root {
	--white: #ffffff;
	--black: #000000;
	--very-light-pink: #a0a0a0;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}

::-moz-selection {
	/* Code for Firefox */
	color: var(--white);
	background: var(--hospital-green);
}

::selection {
	color: var(--white);
	background: var(--hospital-green);
}

@mixin shadow {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

// Default designs

.icon-hover {
	transition: all 0.2s;

	&:hover {
		transform: scale(1.5);
		background: red;
	}
}
