@import 'vars';

footer {
	height: 200px;
	width: 100%;
	background: var(--hospital-green);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin-top: 20px;
}
