@import 'vars';

.MyOrders-content {
	width: 100%;
	height: calc(100vh - 80px);
	display: grid;
	place-items: center;
}
.MyOrders-title {
	font-size: var(--lg);
	margin-bottom: 40px;
}
.MyOrders-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
}
.MyOrders-orders {
	display: flex;
	flex-direction: column;
}
.MyOrders-order {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 16px;
	align-items: center;
	margin-bottom: 12px;
}
.MyOrders-order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.MyOrders-order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.MyOrders-order p span:nth-child(2) {
	font-size: var(--sm);
	color: var(--very-light-pink);
}
.MyOrders-order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}
