@import 'vars';

.MyOrder-content {
	width: 100%;
	height: calc(100vh - 61px);
	display: grid;
	place-items: center;
}
.MyOrder-title {
	font-size: var(--lg);
	margin-bottom: 40px;
}
.MyOrder-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
}
.MyOrder-order-content {
	display: flex;
	flex-direction: column;
}
.MyOrder-order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.MyOrder-order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.MyOrder-order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.MyOrder-order p span:nth-child(2) {
	font-size: var(--sm);
	color: var(--very-light-pink);
}
.MyOrder-order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}
.MyOrder-shopping-cart {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 16px;
	margin-bottom: 24px;
	align-items: center;
}
.MyOrder-shopping-cart figure {
	margin: 0;
}
.MyOrder-shopping-cart figure img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	object-fit: cover;
}
.MyOrder-shopping-cart p:nth-child(2) {
	color: var(--very-light-pink);
}
.MyOrder-shopping-cart p:nth-child(3) {
	font-size: var(--md);
	font-weight: bold;
}
