@import 'vars';

.ProductDetail-product-detail {
	width: 360px;
	z-index: 20;
	position: fixed;
	top: 0;
	left: 100%;
	background: var(--white);
	// overflow-y: scroll;
	min-height: 100vh;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.ProductDetail-product-detail-close {
	background: var(--white);
	position: absolute;
	top: 24px;
	left: 24px;
	z-index: 2;
	border-radius: 50%;
	transition: background 0.15s;

	&:hover {
		background: var(--hospital-green);
	}

	svg {
		font-size: 2rem;
	}
}
.ProductDetail-product-detail-close:hover {
	cursor: pointer;
}
.ProductDetail-product-detail > img:nth-child(2) {
	width: 100%;
	height: 360px;
	object-fit: cover;
	border-radius: 0 0 20px 20px;
}
.ProductDetail-product-info-detail {
	margin: 24px 24px 0 24px;
	display: flex;
	flex-direction: column;
}
.ProductDetail-product-info-detail p:nth-child(1) {
	font-weight: bold;
	font-size: var(--md);
	margin-top: 0;
	margin-bottom: 4px;
}
.ProductDetail-product-info-detail p:nth-child(2) {
	color: var(--black);
	font-weight: bold;
	font-size: var(--md);
	margin-top: 0;
	margin-bottom: 36px;
}
.ProductDetail-product-info-detail p:nth-child(3) {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-top: 0;
	margin-bottom: 36px;
}
.ProductDetail-primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;

	&.added-cart-button {
		color: var(--hospital-green);
		background-color: var(--white);
		border: 2px solid var(--hospital-green);
		img {
			height: 46px;
		}
	}
}
.ProductDetail-add-to-cart-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 640px) {
	.ProductDetail-product-detail {
		width: 100%;
	}
}
